<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
    <sectionGroup name = "Codentia.Common.Logging">
      <section name = "TargetMapping" type="System.Configuration.NameValueSectionHandler" />
    </sectionGroup>
    <section name="BotPlug" type="Codentia.Common.Net.BotPlug.BotPlugConfiguration,Codentia.Common.Net"/>
  </configSections>
  <appSettings>
		<add key="SendEmails" value="Y"/>
		<add key="EmailSignature" value="Codentia.Common.Net.Test"/>

		<!-- config required for this module -->
		<add key="BaseUrl" value="test.mattchedit.com"/>
		<add key="SecureBaseUrl" value="secure.test.mattchedit.com"/>
		<add key="EnforceSSL" value="true"/>
    <add key="DefaultFTPHost" value="srv02.mattchedit.com" />
    <add key="DefaultFTPUser" value="backup" />
    <add key="DefaultFTPPassword" value="backup123X" />
    <add key="CDNFtpHost" value="cdnftp.mattchedit.com"/>
    <add key="CDNFtpUser" value="cdnuser"/>
    <add key="CDNFtpPassword" value="m1tCDN123x"/>
    <add key="CDNFtpRemotePath" value=""/>
    <add key="SiteEnvironment" value="DEV"/>
  </appSettings>
	<system.net>
		<mailSettings>
      <smtp from="Common.Net@mattchedit.com">
        <network host="mail.mattchedit.com" password="MIT4st" userName="test@mattchedit.com"/>
      </smtp>
    </mailSettings>
	</system.net>
	<Codentia.Common.Logging>
		<TargetMapping>
			<add key="Information" value="Console" />
			<add key="NonFatalError" value="Console" />
			<add key="FatalError" value="Console" />
		</TargetMapping>
	</Codentia.Common.Logging>
  <BotPlug>
    <Settings>
      <add key="ThrottleRequestsPerMinute" value="10" />
      <add key="BlockRequestsPerMinute" value="20" />
      <add key="BlockDurationMinutes" value="30" />
      <add key="BlockedAction" value="Terminate" />
      <add key="BlockedUrl" value="" />
      <add key="CleanUpAfterMinutes" value="10" />
    </Settings>
    <IPAllowed>
      
    </IPAllowed>
    <IPDenied>
      
    </IPDenied>
    <URLDenied>
      
    </URLDenied>
  </BotPlug>
</configuration>